{% extends "index.html" %}
{% load static %}

{% block title %}
  Create Post
{% endblock %}

{% block head %}
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous"
  />
  <script src="https://kit.fontawesome.com/777a0b0f94.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'Style/create_post.css' %}">
{% endblock head %}

{% block content %}
<div class="row justify-content-md-center m-0 p-4">
  <div class="col-md-6">
    <form class="p-3" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <a class="btn float-right" href="{{request.META.HTTP_REFERER}}">
        <i class="fa fa-close icons" title="Close"></i>
      </a>
      <h1 class="m-0 p-0">Add Post</h1>
      <hr class="m-0 p-0">
      <div class="info">
        <div class="form-group">
          <label for="id_title">Title:</label>
          {{form.title}}
        </div>
        <div class="image-upload float-right">
          <label for="id_image">
            <i class="fa fa-picture-o icons" title="Add Image"></i>
          </label>
          {{form.image}}
        </div>
        <div class="form-group">
          <label for="id_body">Body:</label>
          {{form.media}}
          {{form.body}}
        </div>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
